
.icon-cubes:before { content: '\e800'; } /* '' */
.icon-building:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-box:before { content: '\e803'; } /* '' */